{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% for theme in Themes %}
    <div>
        <a href="questions/{{ theme.nomtheme }}/1">{{ theme.nomtheme }}</a>
    </div>
    {% endfor %}

    {% if app.user %}
        <a href="logout">Se déconnecter</a>
    {% else %}
        <a href="login">Se connecter</a>
    {% endif %}
{% endblock %}
